/node_modules
.env
.vercel/output
.env*.local
/dist
/build
/.next
/out
/.vercel
/supabase/.temp
.DS_Store
*.log
*.tsbuildinfo
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
*.env
*.env.local
*.env.development
*.env.test
*.env.production
*.env.development.local
*.env.test.local
*.env.production.local
*.pem
*.key
*.crt
*.pfx
*.cer
*.csr
*.log
*.sql
*.sqlite
*.sqlite3
*.db
*.db3
*.backup